body{
    margin: 0;
    padding: 0;
}

.container{
    width: 600px;   
    margin: 20px auto;
    overflow: hidden;
    background-color: antiquewhite;
    padding : 10px;
    border-radius: 10px;
    box-shadow:3px 3px 10px gray;

}
h1{
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding:10px;
    margin:10px;
    width: 80%;
    border-radius: 5px;
    border:1px solid gray;
    outline: none;
}

button {
    background-color: darkblue;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-row {
    display: flex;
    gap: 10px;
    margin: 15px 10px;
}

.input-row input {
    flex: 1;
}
#taskList {
    list-style: none;   /* remove bullet */
    padding: 0;
    margin: 20px 10px 0;
}

#taskList li {
    background: white;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}